.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px 0;

}
[ class *="col-"]{
  float: left;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}
[ class *="col-"] > p{
  padding-left: 20px;
  padding-right: 20px;
}

.col-lg-12 h1{
  margin: 0;
  padding-top: 20px;
  padding-bottom: 35px;
}
.col-lg-6 > img{
height: 150px;
padding-bottom: 20px;
}

.col-lg-6 {
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.large-container{
  background-color: #f9f9f9;
  width: 100%;
  margin-top: 100px;

}

.large-container::after{
  content: "";
  clear: both;
  display: block;
}

.col-lg-4 > img{
height: 150px;
margin-bottom: 20px;
padding: 20px;
}

#bottom-container{
  min-height: 500px;
  margin-top: 100px;
}
.col-lg-4 > .big {
  height: 250px;
  background-color: #428bca;
  border-radius: 50%;
}
